# Automatically request review from a Flux team member for all changes
* @influxdata/flux-team

# Automatically request review from Flux and Docs teams for stdlib source changes
*.flux @influxdata/flux-team @influxdata/docs-team

# Do not request Docs teams for changes to Flux test files
*_test.flux @influxdata/flux-team
