package array

import (
	"github.com/influxdata/flux/codes"
	"github.com/influxdata/flux/internal/errors"

    "github.com/apache/arrow/go/v7/arrow/memory"
)

{{range .}}
{{if ne .Name "Boolean"}}

func {{.Name}}Add(l, r *{{.Name}}, mem memory.Allocator) (*{{.Name}}, error) {
	n := l.Len()
	if n != r.Len() {
		return nil, errors.Newf(codes.Invalid, "Vectors must have equal length for binary operations")
	}

	b := New{{.Name}}Builder(mem)
	b.Resize(n)
	for i := 0; i < n; i++ {
		if l.IsValid(i) && r.IsValid(i) {
			b.Append(l.Value(i) + r.Value(i))
		} else {
			b.AppendNull()
		}
	}
	return b.New{{.Name}}Array(), nil
}
{{end}}
{{end}}
