package array

import (
    "github.com/apache/arrow/go/arrow/memory"
)

{{range .}}{{if .ArrowType}}
func {{.Name}}Repeat(v {{.PrimitiveType}}, isNull bool, n int, mem memory.Allocator) *{{.Name}} {
    b := New{{.Name}}Builder(mem)
    b.Resize(n)
    if isNull {
        for i := 0; i < n; i++ {
			b.AppendNull()
		}
    } else {
        for i := 0; i < n; i++ {
            b.Append(v)
        }
    }
    return b.New{{.Name}}Array()
}
{{end}}{{end}}
