version: 2
jobs:
  test:
    docker:
      - image: nathanielc/flux-build:latest
    environment:
      GOCACHE: /tmp/go-cache
      GOFLAGS: -p=8
      GOPATH: /tmp/go
      GO111MODULE: 'on' # must be quoted to force string type instead of boolean type
    steps:
      - checkout
      # Populate GOCACHE.
      - restore_cache:
          name: Restoring GOCACHE
          keys:
            - flux-gocache-{{ .Branch }}-{{ .Revision }} # Matches when retrying a single run.
            - flux-gocache-{{ .Branch }}-                # Matches a new commit on an existing branch.
            - flux-gocache-                              # Matches a new branch.
      # Populate GOPATH/pkg.
      - restore_cache:
          name: Restoring GOPATH/pkg/mod
          keys:
            - flux-gomod-{{ .Branch }}-{{ .Revision }} # Matches when retrying a single run.
            - flux-gomod-{{ .Branch }}-                # Matches a new commit on an existing branch.
            - flux-gomod-                              # Matches a new branch.
      # Run tests
      - run: make checkfmt
      - run: make checktidy
      - run: make vet
      - run: make staticcheck
      - run: make checkgenerate
      - run: make test GO_TEST_FLAGS='-coverprofile=coverage.txt -covermode=atomic'
      - run:
          name: Uploading coverage report
          command: |
            bash <(curl -s https://codecov.io/bash)
      - save_cache:
          name: Saving GOCACHE
          key: flux-gocache-{{ .Branch }}-{{ .Revision }}
          paths:
            - /tmp/go-cache
          when: always
      - save_cache:
          name: Saving GOPATH/pkg/mod
          key: flux-gomod-{{ .Branch }}-{{ .Revision }}
          paths:
            - /tmp/go/pkg/mod
          when: always
  test-race:
    docker:
      - image: nathanielc/flux-build:latest
    environment:
      GOPATH: /tmp/go
      GOFLAGS: -p=8
      GO111MODULE: 'on' # must be quoted to force string type instead of boolean type
    steps:
      - checkout
      # Building go with -race does not use the cache
      # Populate GOPATH/pkg.
      - restore_cache:
          name: Restoring GOPATH/pkg/mod
          keys:
            - flux-gomod-{{ .Branch }}-{{ .Revision }} # Matches when retrying a single run.
            - flux-gomod-{{ .Branch }}-                # Matches a new commit on an existing branch.
            - flux-gomod-                              # Matches a new branch.
      # Run tests
      - run: make test-race
      # No need to save the pkg/mod cache since the other job does it

workflows:
  version: 2
  build-and-test:
    jobs:
      - test
      - test-race
