[package]
name = "flux-core"
version = "0.4.0"
authors = ["Nathaniel Cook <nathaniel@influxdata.com>"]
edition = "2018"

[lib]
name = "fluxcore"
crate-type = ["rlib"]

[features]
default = ["strict"]
strict = []
lsp = ["lsp-types"]

[dependencies]
comrak = "0.10.1"
fnv = "1.0.7"
derive_more = { version = "0.99.11", default-features = false, features = [
    "display"
] }
serde = "^1.0.59"
serde_derive = "^1.0.59"
serde_json = "1.0"
serde-aux = "0.6.1"
wasm-bindgen = { version = "0.2.62", features = ["serde-serialize"] }
chrono = { version = "0.4", features = ["serde"] }
regex = "1"
maplit = "1.0.2"
flatbuffers = "2.0.0"
derivative = "2.1.1"
walkdir = "2.2.9"
lsp-types = { version = "0.89.2", optional = true }
pulldown-cmark = { version = "0.8", default-features = false }

[dev-dependencies]
colored = "1.8"
pretty_assertions = "0.7.2"
criterion = "0.3.3"

[[bench]]
name = "scanner"
harness = false
