package universe

import (
	"github.com/apache/arrow/go/v7/arrow/memory"
	"github.com/influxdata/flux"
	"github.com/influxdata/flux/array"
)

{{range .}}
{{if or (eq .Name "Float") (eq .Name "Int") (eq .Name "Uint")}}
type aggregateWindowSum{{.Name}} struct {
	aggregateWindowBase
	vs *{{.ArrowType}}
}

func (a *aggregateWindowSum{{.Name}}) Aggregate(ts *array.Int, vs array.Array, start, stop *array.Int, mem memory.Allocator) {
    b := array.New{{.Name}}Builder(mem)
	b.Resize(stop.Len())

	values := vs.(*{{.ArrowType}})
	aggregateWindows(ts, start, stop, func(i, j int) {
		var sum {{.Type}}
		for ; i < j; i++ {
			sum += values.Value(i)
        }
		b.Append(sum)
    })
	result := b.New{{.Name}}Array()
	a.merge(start, stop, result, mem)
}

func (a *aggregateWindowSum{{.Name}}) Merge(from aggregateWindow, mem memory.Allocator) {
	other := from.(*aggregateWindowSum{{.Name}})
	other.vs.Retain()
	a.merge(other.ts, other.ts, other.vs, mem)
}

func (a *aggregateWindowSum{{.Name}}) merge(start, stop *array.Int, result *array.{{.Name}}, mem memory.Allocator) {
	a.mergeWindows(start, stop, mem, func(ts, prev, next *array.Int) {
		if a.vs == nil {
			a.vs = result
			return
        }
		defer result.Release()

		merged := array.New{{.Name}}Builder(mem)
		merged.Resize(ts.Len())
		mergeWindowValues(ts, prev, next, func(i, j int) {
			if i >= 0 && j >= 0 {
				merged.Append(a.vs.Value(i) + result.Value(j))
            } else if i >= 0 {
				merged.Append(a.vs.Value(i))
            } else {
				merged.Append(result.Value(j))
            }
        })
		a.vs.Release()
		a.vs = merged.New{{.Name}}Array()
    })
}

func (a *aggregateWindowSum{{.Name}}) Compute(mem memory.Allocator) (*array.Int, flux.ColType, array.Array) {
	a.createEmptyWindows(mem, func(n int) (append func(i int), done func()) {
		b := array.New{{.Name}}Builder(mem)
		b.Resize(n)

		append = func(i int) {
			if i < 0 {
				b.AppendNull()
			} else {
				b.Append(a.vs.Value(i))
			}
		}

		done = func() {
			a.vs.Release()
			a.vs = b.New{{.Name}}Array()
		}
		return append, done
	})
	a.ts.Retain()
	a.vs.Retain()
	return a.ts, {{.ColumnType}}, a.vs
}

func (a *aggregateWindowSum{{.Name}}) Close() error {
	a.release()
	if a.vs != nil {
		a.vs.Release()
		a.vs = nil
	}
	return nil
}

type aggregateWindowMean{{.Name}} struct {
	aggregateWindowBase
	counts *array.Int
	sums *{{.ArrowType}}
}

func (a *aggregateWindowMean{{.Name}}) Aggregate(ts *array.Int, vs array.Array, start, stop *array.Int, mem memory.Allocator) {
	countsB := array.NewIntBuilder(mem)
	countsB.Resize(stop.Len())

	sumsB := array.New{{.Name}}Builder(mem)
	sumsB.Resize(stop.Len())

	values := vs.(*{{.ArrowType}})
	aggregateWindows(ts, start, stop, func(i, j int) {
		countsB.Append(int64(j - i))
		var sum {{.Type}}
		for ; i < j; i++ {
			sum += values.Value(i)
		}
		sumsB.Append(sum)
	})

	counts, sums := countsB.NewIntArray(), sumsB.New{{.Name}}Array()
	a.merge(start, stop, counts, sums, mem)
}

func (a *aggregateWindowMean{{.Name}}) Merge(from aggregateWindow, mem memory.Allocator) {
	other := from.(*aggregateWindowMean{{.Name}})
	other.counts.Retain()
	other.sums.Retain()
	a.merge(other.ts, other.ts, other.counts, other.sums, mem)
}

func (a *aggregateWindowMean{{.Name}}) merge(start, stop, counts *array.Int, sums *{{.ArrowType}}, mem memory.Allocator) {
	a.mergeWindows(start, stop, mem, func(ts, prev, next *array.Int) {
		if a.sums == nil {
			a.counts, a.sums = counts, sums
			return
		}
		defer counts.Release()
		defer sums.Release()

		mergedCounts := array.NewIntBuilder(mem)
		mergedCounts.Resize(ts.Len())
		mergedSums := array.New{{.Name}}Builder(mem)
		mergedSums.Resize(ts.Len())
		mergeWindowValues(ts, prev, next, func(i, j int) {
			if i >= 0 && j >= 0 {
				mergedCounts.Append(a.counts.Value(i) + counts.Value(j))
				mergedSums.Append(a.sums.Value(i) + sums.Value(j))
			} else if i >= 0 {
				mergedCounts.Append(a.counts.Value(i))
				mergedSums.Append(a.sums.Value(i))
			} else {
				mergedCounts.Append(counts.Value(j))
				mergedSums.Append(sums.Value(j))
			}
		})
		a.counts.Release()
		a.sums.Release()
		a.counts, a.sums = mergedCounts.NewIntArray(), mergedSums.New{{.Name}}Array()
	})
}

func (a *aggregateWindowMean{{.Name}}) Compute(mem memory.Allocator) (*array.Int, flux.ColType, array.Array) {
	b := array.NewFloatBuilder(mem)
	b.Resize(a.ts.Len())
	for i, n := 0, a.sums.Len(); i < n; i++ {
		v := float64(a.sums.Value(i)) / float64(a.counts.Value(i))
		b.Append(v)
	}
	vs := b.NewFloatArray()

	a.createEmptyWindows(mem, func(n int) (append func(i int), done func()) {
		b := array.NewFloatBuilder(mem)
		b.Resize(n)

		append = func(i int) {
			if i < 0 {
				b.AppendNull()
			} else {
				b.Append(vs.Value(i))
			}
		}

		done = func() {
			vs.Release()
			vs = b.NewFloatArray()
		}
		return append, done
	})
	a.ts.Retain()
	return a.ts, flux.TFloat, vs
}

func (a *aggregateWindowMean{{.Name}}) Close() error {
	a.release()
	if a.counts != nil {
		a.counts.Release()
		a.counts = nil
	}
	if a.sums != nil {
		a.sums.Release()
		a.sums = nil
	}
	return nil
}
{{end}}
{{end}}
